.card-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.card-stack {
  position: relative;
  width: 300px;
  height: 450px;

}

.card {
  width: 100%;
  height: 100%;
  position: absolute;


  perspective: 1000px;
  transition: transform 0.6s ease;
}

.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.7s;
}

/* 플립 축에 따라 다른 회전 */
.card.flipped[data-flip-axis="Y"] .card-inner {
  transform: rotateY(180deg);
}

.card.flipped[data-flip-axis="X"] .card-inner {
  transform: rotateX(-180deg);
}

.card-front,
.card-back,
.promo-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: white;
}

.card-front {
  transform: rotateY(180deg);
}

.card-back {
  background-color: #fff;
}