:root {
  /* main-bg-color */
  --main-bg-Color: #ff8e3d;

  --primary-font-color: #1a1a1a;

}

body {
  margin: 0;
  overflow-x: hidden;
}

#contents {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}